# registry=https://registry.npmmirror.com
registry=https://registry.npmjs.org
# @cocos-fe:registry=https://registry.npmjs.org
@editor:registry=http://creator-npm.cocos.org:7001/

electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/