# registry=https://registry.npmmirror.com
registry=https://registry.npmjs.org
# @cocos-fe:registry=https://registry.npmjs.org
@editor:registry=http://creator-npm.cocos.org:7001/

electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/

# node 版本设置
use-node-version=22.11.0
node-version=22.11.0
engine-strict=true

# 可以直接在根目录安装依赖
ignore-workspace-root-check=true

git-checks=false