:root {
    /* 实现图片的切换显示 */
    --visible-update: block;
    --visible-update-dark: none;

    /* 借用 GitHub 的css 变量，实现主体切换 */
    --borderColor-default: var(--borderColor-default, #ccc);
    --bgColor-default: var(--bgColor-default, #fff);
}

@media (prefers-color-scheme: dark) {
    :root {
        --visible-update: none;
        --visible-update-dark: block;
    }
}

#github-ids {
    position: fixed;
    z-index: 999999;
    top: 126px;
    right: -204px;
    width: 200px;
    height: 300px;
    padding: 40px 0 30px;
    border: 1px solid var(--borderColor-default);
    border-radius: 5px;
    background-color: var(--bgColor-default);
    color: var(--color-fg-default);
    transition: right 0.2s linear;

    &.show {
        right: 8px;
    }

    & .icon {
        position: absolute;
        top: 0;
        left: -50px;
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--borderColor-default);
        border-radius: 6px;
        background-color: var(--bgColor-default);
        cursor: pointer;

        & img {
            width: 30px;
            transition: width 0.2s linear;

            &:hover {
                width: 34px;
            }
        }
    }

    & input {
        position: absolute;
        top: 6px;
        left: 5%;
        display: block;
        width: 90%;
        height: 24px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: none;
        box-shadow: none;
    }

    & ul {
        height: 100%;
        padding: 0;
        margin: 0;
        overflow-y: scroll;

        & li {
            display: flex;
            height: 30px;
            cursor: pointer;
            line-height: 30px;
            list-style: none;

            & .en {
                flex: 1;
                text-align: right;
            }

            & .zh {
                width: 80px;
                padding-left: 6px;
                text-align: left;
            }
        }
    }

    & .tip {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 24px;
        border-top: 1px solid var(--borderColor-default);
        color: var(--color-fg-muted);
        font-size: 12px;
        line-height: 24px;
        text-align: center;

        & img {
            position: absolute;
            top: 4px;
            right: 4px;
            cursor: pointer;
        }

        & .update {
            display: var(--visible-update);
        }

        & .update-dark {
            display: var(--visible-update-dark);
        }
    }
}

#issue-box {
    position: absolute;
    top: 8px;
    left: 90px;
    display: inline-flex;

    &::before {
        padding: 0 20px;
        background-color: #e9e9e9;
        clip-path: polygon(124px 0%, 100% 50%, 124px 100%, 0% 100%, 10px 50%, 0% 0%);
        color: #222;
        content: attr(data-tip);
    }

    & > a {
        display: inline-flex;
        padding: 0 8px;
        border-radius: 6px;
        background-color: #08c;
        color: #fff;
        font-weight: bold;

        &:nth-child(1) {
            margin: 0 4px;
        }
    }
}

.hover-show-issue-btn {
    position: relative;

    & #issue-box {
        display: none;
    }

    &:hover {
        & #issue-box {
            display: inline-flex;
        }
    }
}
