#issue-box {
    position: absolute;
    top: 8px;
    left: 90px;
    display: inline-flex;

    &::before {
        padding: 0 20px;
        background-color: #e9e9e9;
        clip-path: polygon(124px 0%, 100% 50%, 124px 100%, 0% 100%, 10px 50%, 0% 0%);
        color: #222;
        content: attr(data-tip);
    }

    & > a {
        display: inline-flex;
        padding: 0 8px;
        border-radius: 6px;
        background-color: #08c;
        color: #fff;
        font-weight: bold;

        &:nth-child(1) {
            margin: 0 4px;
        }
    }
}
